<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login">
        </form>
    </body>
</html>
