<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: bisque;">
      <a class="navbar-brand">Home</a>
      <form class="form-inline" action="{% url 'search_bar' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2"  placeholder="Search Genre" aria-label="Search" name = 'genre'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    {% for each in categories %}
    <div class="card" style="width: 18rem;">
        <img src="{{movie.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{each.type}}</h5>
          <a href="{% url 'explore' each.id %}" class="btn btn-primary">Explore</a>
        </div>
      </div>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>