{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'paid.css' %}">
  </head>
  <body>
    <div class="image">
    {% if not user.is_authenticated %}
    <h3>Requires password, authenticate yourself <a href="{% url 'login' %}">here</a>.</h3>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #400D51;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-family: 'Orbitron', sans-serif; font-size: 15px;">
        <div class="navbar-nav ml-auto">
          <a class="nav-link active text-light" href="{% url 'main' %}">Home<span class="sr-only">(current)</span></a>
          <a class="nav-link text-light" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="row">
        {% for each in booked %}
          <div class="col-sm">
            <div class="card" style="width: 18rem;" id = 'card1'>
                <img src="{{each.seat.venue.event.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                  {{each.seat.number}}<br>
                  {{each.seat.venue.event.name}}<br>
                  {{each.seat.venue.location}}<br>
                  {{each.seat.venue.name}}<br>
                  {{each.seat.venue.showtime}}</p>
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    {% endif %}
  </body>
</html>

