<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>
    {% if not user.is_authenticated %}
    <h3>Requires password, authenticate yourself <a href="{% url 'login' %}">here</a>.</h3>
    {% else %}
    {% for each in allseats %}
    {% if each.booked %}
    <button style="width: 41px; height: 39px; background-color: antiquewhite;">{{each.number}}</button>
    {% else %}
    <a href="{% url 'choose' each.id each.venue.id %}"><button style="width: 41px; height: 39px;">{{each.number}}</button></a>
    {% endif %}
    {% endfor %}
    <a href="{% url 'booked' %}"><button>Pay Now:{{total}}</button></a>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    {% endif %}
  </body>
</html>
